a {
  padding-right: 5px;
}

div {
  padding: 2px 2px;
}

label {
  padding-right: 5px;
}

span {
  padding-left: 5px;
}

button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 15px;
}

.form-button {
  margin-left: 5px;
}

.landing:hover {
  color: RoyalBlue;
}

.overview:hover {
  background-color: RoyalBlue;
}

.ttl {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inf {
  font-family: "Arial Narrow";
  font-size: 16px;
}

.groupval {
  padding-bottom: 20px;
}